[user]
	name = Micah Huber
	email = mhuber@rechargeapps.com
	signingkey = 3F51C7E825A9394A

[core]
	editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta

[credential]
  helper = osxkeychain

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[commit]
	gpgsign = true

[delta]
	line-numbers = true
	side-by-side = true

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[color]
  ui = true

[pull]
	rebase = false

[alias]
  aa = add -A
