vim/.vim/bundle/*
other/.config/atuin/*
!other/.config/atuin/config.toml
other/.config/fish
other/.config/gcloud
other/.config/github-copilot
other/.config/glab-cli
other/.config/iterm2
other/.config/op
other/.config/raycast

other/.config/zed/*
!other/.config/zed/themes
!other/.config/zed/themes/*
!other/.config/zed/keymap.json
!other/.config/zed/settings.json



.secure
