vim/.vim/bundle/*
other/.config
other/.config/*
other/.local
other/.local/*
other/.local/share/*
other/.local/share/nvim
other/.local/share/nvim/*
other/.local/share
other/.local/share/nvim/shada/main.shada
