#!/usr/bin/env bash


# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

export HELM_HOME="$HOME/.helm"

## install gems to user dir
export GEM_HOME=$(ruby -e 'print Gem.user_dir')

# allow go modules
export GO111MODULE=on


export VAULT_ADDR=https://vault.rechargeapps.net:8200
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# vault
export VAULT_ADDR=https://vault.rechargeapps.net:8200
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES


export ZSH="/Users/huberm/.oh-my-zsh"
export LANG='en_US.UTF-8'
export EDITOR='nvim'
export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=/usr/local/share/zsh-syntax-highlighting/highlighters

# allow go modules
export GO111MODULE=on
export GOPATH="$HOME/go"
export PATH="$PATH:$GOPATH"

export EJSON_KEY_DIR="/opt/ejson/keys"


# mysql client
export PATH="/usr/local/opt/mysql-client/bin:$PATH"

# krew
export PATH="${PATH}:${HOME}/.krew/bin"

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# httpstat
export HTTPSTAT_SHOW_SPEED="true"
export PATH="$PATH:/usr/local/google-cloud-sdk/bin"

# gitlab
export GITLAB_HOST="https://gitlab.rechargeapps.net"

#
# m1 mac stuff
#

export PATH="$PATH:/usr/local/homebrew/opt"
