#!/usr/bin/env bash
export EDITOR='nvim'
export EJSON_KEY_DIR="/opt/ejson/keys"
export ERL_AFLAGS="-kernel shell_history enabled"
export GEM_HOME=$(ruby -e 'print Gem.user_dir')
export GITLAB_HOST="https://gitlab.rechargeapps.net"
export GOBIN=$GOPATH/bin
export GOPATH="$HOME/go"
export GO111MODULE=on
export GPG_TTY=$(tty);
export HELM_HOME="$HOME/.helm"
export HTTPSTAT_SHOW_SPEED="true"
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';
export LESS_TERMCAP_md="${yellow}";
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export PATH="$PATH:$GOPATH:$GOBIN"
export PATH="/usr/local/opt/mysql-client/bin:$PATH"
export PATH="${PATH}:${HOME}/.krew/bin"
export PATH="$PATH:$HOME/.rvm/bin"
export PATH="$PATH:/usr/local/google-cloud-sdk/bin"
export PATH="$PATH:$HOME/.poetry/bin"
export PATH="$PATH:/usr/local/homebrew/opt"
export PATH="/Applications/WezTerm.app/Contents/MacOS:$PATH"
export PYTHONIOENCODING='UTF-8';
export USE_GKE_GCLOUD_AUTH_PLUGIN=True
export VAULT_ADDR=https://vault.infra.rechargeapps.net:8200
export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=/usr/local/share/zsh-syntax-highlighting/highlighters
